# Bundler config
/.bundle

# Logs and tempfiles
/log/*
!/log/.keep
/tmp

# SQLite database files
/db/*.sqlite3
/db/*.sqlite3-journal

# Sprockets-compiled assets
/public/assets

# Byebug history
/.byebug_history
