@import bootstrap-sprockets
@import bootstrap
@import bootstrap/theme

body
  padding-top: 1.2em

.columns-box
  column-count: 4
  column-gap: $grid-gutter-width
  column-fill: auto

  > .panel
    display: inline-block
